.hidden {
  display: none;
}

/* =======================common=========================== */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #808d83;
  color: #d6d6d6;
}
.bgAlpha {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1;
}
.bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -2;
}
/* =======================log-in============================ */

#login-form {
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -200px;
  width: 400px;
  height: 400px;
  border: 1px solid #f0f0f0;
  background-color: rgba(0, 0, 0, 0);
  border-radius: 20px;
}
#login-form input {
  display: block;
  margin: 100px;
}
#login-form input:first-child {
  width: 200px;
  height: 40px;
  border-radius: 10px;
  padding: 5px;
  font-size: 15px;
  outline: none;
  border: none;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0);
  border-bottom: 1px solid #ffffff;
}
#login-form input::placeholder {
  font-size: 15px;
  color: white;
}
#login-form input:last-child {
  margin-left: 150px;
  width: 100px;
  height: 40px;
  border-radius: 20px;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  outline: none;
  cursor: pointer;
}

/*===================user==================== */
.user {
  display: flex;
  margin-left: 88%;
}
.user h1 {
  font-size: 16px;
}
.user button {
  display: block;
  margin-top: 1px;
  margin-left: 15px;
  width: 50px;
  height: 20px;
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0);
  color: #d6d6d6;
  font-weight: bold;
  outline: none;
  border: none;
  cursor: pointer;
}

/* ==========clock============================== */

.clock {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translate(-50%);
}
.clock h2 {
  font-size: 150px;
}

/* ===========quote============================= */

#quote {
  position: absolute;
  bottom: 50px;
  right: 20px;
  text-align: right;
}
#quote span {
  display: block;
}

/* ==============weather=============================== */
#weather {
  position: absolute;
  bottom: 50px;
  left: 20px;
}

/* =================todo================================= */

.todo_container {
  width: 80%;
  margin-left: -25%;
  position: absolute;
  top: 40%;
  left: 50%;
}

.todo_container input {
  width: 180px;
  margin-left: 20px;
  height: 30px;
  background-color: rgba(0, 0, 0, 0);
  color: white;
  border: none;
  font-size: 16px;
  outline: none;
}
.todo_container input::placeholder {
  font-size: 16px;
  color: white;
}
.todo_container input[type="text"] {
  border-bottom: 1px solid #ffffff;
}
.todo_container input[type="submit"] {
  width: 100px;
  cursor: pointer;
  font-size: 16px;
}

#todo_list {
  margin-top: 20px;
}

#todo_list li {
  list-style: none;
}
#todo_list span {
  margin-left: 20px;
}
#todo_list button {
  margin-left: 20px;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(0, 0, 0, 0);
}
